* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after,
*::before {
    box-sizing: inherit;
}
:root {
    --primary-50: #df960f; 
    --secondary-050: #3e0c44; 
    --head-color: #1a0227;
    --color-1: rgba(101, 105, 80, 0.87);
    --color-2: rgb(108, 117, 88);
    --dark: rgba(0,0,0,0.26);
    --light: rgba(255,255,255,1.00);
    --gray: rgb(97, 97, 97);
    --right-gray: rgb(231, 231, 231);
    --gray-sub: rgb(92, 100, 84);
    

    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    font-feature-settings: "palt";
    font-size: 16pt;
}





section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-family: 'Pacifico', cursive;
}

section:nth-child(2n + 1) {
    background-color: var(--primary-050);
    
}



#head {
    opacity: 0.75;
    background-image: linear-gradient(to top, #ffffff 0%, #f7ff8b 100%);
    z-index: -1;
    
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
    color: var(--head-color);
    margin-bottom: 100px;
}

#head p {
    font-size: 2rem;
    margin-right: 30px;
}



#sec1 {
    color: var(--color-2);
    font-size: 2.5rem;
    height: 100%;
    font-weight: normal;
    margin: 150px 0 20px 0;
}

#sec2 {
    color: var(--color-2);
    font-size: 2.5rem;
    height: 100%;
    font-weight: normal;
    margin: 150px 0 60px 0;
}




h4 {
    color: var(--gray);
    padding-top: 200px;
    padding-bottom: 60px;
    text-align: center;
}


.photo-illust {
    
    
    padding: 10px 0;
    width: 42rem;
}

.pi-photo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 420px;
    width: 560px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
}



.maya-design {
    
   
    padding: 10px 0;
    width: 42rem;
}

.md-photo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    height: 420px;
    width: 560px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
}


.profile {
    text-align: center;
    margin-bottom: 100px;
}

.profile img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
}


.pi-text {
    margin-top: 40px;
    text-align: center;
    color: var(--gray);
    font-size: 1.5rem;
}

.md-text {
    margin-top: 40px;
    text-align: center;
    color: var(--gray);
    font-size: 1.5rem;
}

.profile-text h5{
    margin: 20px 0;
    color: var(--gray-sub);
    font-size: 2rem;
}

.profile-text p {
    margin: 10px 0;
    color: var(--gray);
    font-size: 1rem;
}
